/* variables */
:root {
    /* colors */
    --primary-color: #004743;
    --secondary-color: #F88C7F;
    --accent-color: #EABD2A;
    --dark-color: #001E1D;
    --light-color: #E8E5E4;
    --light-accent: #BBD8B6;
    --transparent-bg: rgba(0, 30, 29, 0.5);
    /* repeated values/other */
}

/* custom fonts */
@font-face {
    font-family: barlowsc-light;
    src: url(../fonts/BarlowSemiCondensed-Light.ttf);
}
@font-face {
    font-family: barlowsc-reg;
    src: url(../fonts/BarlowSemiCondensed-Regular.ttf);
}
@font-face {
    font-family: barlowsc-sb;
    src: url(../fonts/BarlowSemiCondensed-SemiBold.ttf);
}
@font-face {
    font-family: barlowsc-sb-i;
    src: url(../fonts/BarlowSemiCondensed-SemiBoldItalic.ttf);
}
@font-face {
    font-family: barlowsc-eb;
    src: url(../fonts/BarlowSemiCondensed-ExtraBold.ttf);
}

/* global styles */
* {
    /* override browser defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--primary-color);
}
p {
    font-family: barlowsc-reg;
    color: var(--light-color);
}
a {
    font-family: barlowsc-light;
    text-decoration: none;
    color: var(--light-color);
}
ul, menu {
    list-style: none;
}
#top {
    display: none;
}

/* header styles */
/* TODO: fix sticky header */
/* TODO: add hover effects */
header {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: var(--primary-color);
}
/* TODO: (eventually) add hamburger button to toggle navigation */
.logo {
    margin: 20px 0 5px 0;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 40%;
}
.nav {
    margin: 5px 15px 15px 15px;
    display: flex;
    justify-content: space-around;
}
.nav li {
    display: flex;
    font-family: barlowsc-light;
    font-size: 6vw;
}

/* hero styles */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    background: url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#hero h1 {
    display: flex;
    margin: 7px 15px 10px 15px;
    font-family: barlowsc-eb;
    font-size: 8vw;
    color: var(--secondary-color);
}
#hero h2 {
    display: flex;
    margin: 7px 15px;
    font-family: barlowsc-sb-i;
    font-size: 5.8vw;
    text-align: right;
    color: var(--secondary-color);
}
.bg-color {
    background: var(--transparent-bg);
    backdrop-filter: blur(2px);
}

/* bio styles */
.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}
.bio h2 {
    display: flex;
    font-family: barlowsc-sb;
    font-size: 7vw;
    color: var(--light-accent);
}
.bio ul {
    margin: 10px 0;
    display: flex;
}
.bio ul li {
    margin-right: 15px;
    display: flex;
    font-family: barlowsc-sb-i;
    font-size: 5vw;
    color: var(--accent-color);
}
.story {
    padding-bottom: 15px;
    border-bottom: 2px solid var(--secondary-color);
}

/* projects styles */
/* TODO: add hover effects */
/* TODO: add coming soon card styles */
.projects {
    display: flex;
    flex-direction: column;
}
.projects h2 {
    display: flex;
    width: 100%;
    margin: 0 0 10px 15px;
    font-family: barlowsc-sb;
    font-size: 7vw;
    color: var(--light-accent);
}
.project {
    display: flex;
}
.run-buddy {
    display: flex;
    width: 100vw;
    height: 38vh;
    background: url("../images/run-buddy.jpg");
    background-size: cover;
    background-position: center;
}
.cover {
    display: block;
    width: 100%;
    background: var(--transparent-bg);
    backdrop-filter: blur(2px);
}
.project-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.project-info h3, .project-info p {
    background: var(--accent-color);
    padding-left: 15px;
}
.project-info h3 {
    padding-top: 10px;
}
.project-info p {
    padding-bottom: 10px;
}

/* get in touch styles */
