/* variables */
:root {
    /* colors */
    --primary-color: #004743;
    --secondary-color: #F88C7F;
    --accent-color: #EABD2A;
    --dark-color: #001E1D;
    --light-color: #E8E5E4;
    --light-accent: #BBD8B6;
    /* repeated values/other */
    --main-spacing: 15px;
}

/* custom fonts */
@font-face {
    font-family: barlowsc-light;
    src: url(../fonts/BarlowSemiCondensed-Light.ttf);
}
@font-face {
    font-family: barlowsc-reg;
    src: url(../fonts/BarlowSemiCondensed-Regular.ttf);
}
@font-face {
    font-family: barlowsc-sb;
    src: url(../fonts/BarlowSemiCondensed-SemiBold.ttf);
}
@font-face {
    font-family: barlowsc-sb-i;
    src: url(../fonts/BarlowSemiCondensed-SemiBoldItalic.ttf);
}
@font-face {
    font-family: barlowsc-eb;
    src: url(../fonts/BarlowSemiCondensed-ExtraBold.ttf);
}

/* global styles */
* {
    /* override browser defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-color: var(--primary-color);
}
p {
    font-family: barlowsc-reg;
    color: var(--light-color);
}
h2 {
    margin-bottom: 10px;
    font-family: barlowsc-sb;
    font-size: 7vw;
    color: var(--light-accent);
}
a {
    font-family: barlowsc-light;
    text-decoration: none;
    color: var(--light-color);
}
ul, menu {
    list-style: none;
}
#top {
    display: none;
}

/* header styles */
header {
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: var(--primary-color);
}
/* TODO: (eventually) add hamburger button to toggle navigation */
.logo {
    margin: 20px 0 10px 0;
    display: flex;
    align-self: center;
    width: 35vw;
}
.nav {
    margin: 0 var(--main-spacing) var(--main-spacing) var(--main-spacing);
    display: flex;
    justify-content: space-around;
}
.nav li {
    font-family: barlowsc-light;
    font-size: 6vw;
}
.nav li a:hover {
    color: var(--accent-color);
}

/* hero styles */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 100vw;
    background: url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#hero h1 {
    display: flex;
    margin: 7px var(--main-spacing) 10px var(--main-spacing);
    font-family: barlowsc-eb;
    font-size: 8vw;
    color: var(--secondary-color);
}
#hero h2 {
    display: flex;
    margin: 7px var(--main-spacing);
    font-family: barlowsc-sb-i;
    font-size: 5.8vw;
    text-align: right;
    color: var(--secondary-color);
}
.bg-color {
    background: rgba(0, 30, 29, 0.5);
    backdrop-filter: blur(2px);
}

/* bio styles */
.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: var(--main-spacing) var(--main-spacing) 8px var(--main-spacing);
}
.bio ul {
    margin-bottom: 10px;
    display: flex;
}
.bio ul li {
    /* make static space between */
    margin-right: var(--main-spacing);
    font-family: barlowsc-sb-i;
    font-size: 5vw;
    color: var(--accent-color);
}
.story {
    padding-bottom: var(--main-spacing);
    border-bottom: 2px solid var(--secondary-color);
}

/* projects styles */
.projects {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.projects h2 {
    margin-left: var(--main-spacing);
}
/* shared project card styles */
.scrnshot {
    width: 50vw;
    height: 19vh;
    position: relative;
}
.scrnshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(248, 150, 127, 0.6), rgba(234, 189, 42, 0.6));
}
.cover:hover:not(.tba), .cover ~ .project-info {
    opacity: 0;
    transition: all 0.5s linear;
}
.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
/* run buddy project card styles */
.highlight {
    width: 100vw;
    height: 38vh;
}
.highlight .scrnshot {
    width: 100vw;
    height: 38vh;
}
/* standard project card styles */
.small-projects {
    display: flex;
    flex-wrap: wrap;
}
.small-project{
    position: relative;
    width: 50vw;
    height: 19vh;
}
.scrnshot {
    width: 50vw;
    height: 19vh;
}

/* get in touch styles */
.get-in-touch {
    height: 13vh;
    margin: 10px var(--main-spacing);
}
.icons {
    display: flex;
    justify-content: space-around;
    border-left: 2px solid var(--secondary-color);
}
.icons a img {
    width: 10vw;
}

/* media queries */
/* detect desktop screen */
@media (pointer:fine) {
    body {
        overflow: overlay;
    }
}